.P-login
  width: 100%
  height 100vh  

  .login-page-wrapper
    display flex
    width 100%
    height 100%
    flex-direction column
    align-items center
    justify-content: center

    .title-wrapper
      display: flex
      align-content: center

      .title
        font-size: 56px
        letter-spacing: 2px

    .content-wrapper
      text-align: center

      .content-info-wrapper
        .signin-prompt
          font-size: 16px

      .signin-content-wrapper
        margin-top: 5%
        margin-bottom: 3%
        
        .signin-content
          margin-bottom: 5%

          .signin-input
            margin-top: 3%
            text-align: left

        .signin-btn
          width 100%
          color: white
          background-color: black

      .signup-prompt-wrapper
        display: flex
        width: fit-content
        margin-top: 2%
        margin-left: 2%
        margin-bottom: 2%
        justify-content: center
        text-align: center

        .signup-prompt
          color: #c0c0c0
          cursor pointer

      .third-party-signin-wrapper
        .third-party-signin-prompt-wrapper
          display: flex
          width: 100%
          margin-top: 5%
          margin-bottom: 2%
          align-items: center
          justify-content: center

          .third-party-signin-prompt
            color: #c0c0c0
            white-space: nowrap

          .line
            flex: 1;
            border none
            border-bottom: 1px solid #ccc
            margin: 0 1rem

        .third-party-signin-opt-wrapper
          width: 100%
          margin-bottom: 3%

          .third-party-signin-opt
            width 100%

      .term-info-wrapper
        margin-top: 8%
        margin-left: 5%
        margin-right: 5%

        .term-info
          color: #c0c0c0