.P-layout
  position relative
  width 380px
  height 400px
  min-height 100vh
  display flex
  align-items center

  .header
    height: 15%
    width: 100%
    text-align: center
    align-content: center

    .title
      font-family: Times New Roman

  .content

      padding 20px
      display: flex
      flex-direction: column
      text-align center
      justify-content: space-around

      .switch-section
        margin-bottom 20px

      .switch-item
        display flex
        justify-content space-between
        align-items center
        margin-bottom 10px

        .text
          font-family: sans-serif
          font-size: 16px
          letter-spacing: 0.3px

      .misinformation-text
        display block
        margin-bottom 20px

      .dashboard-button
        margin-bottom 10px

  .footer
    height 5%
    width 100%
    display flex
    justify-content: right
    align-items center

    .link
      font-size 12px
      margin-left: 12px