.P-detection
  width 100%
  height 100%
  margin 0
  font-family Arial, sans-serif
  background-color #f8f9fa
  padding 20px

  .before-detect-container
    display flex
    height 100%
    width 100%
    flex-direction column
    justify-content center
    align-items center
    
    .detect-title-wrapper
      margin-bottom 3%

    .datasource-wrapper
      display: flex
      width 100%
      justify-content: left 
      
      .datasource-item
        width: 100%
      
        .datasource
          width 10%
          margin-left: 15%

    .detect-text-area-wrapper
      width 70%

      .ant-input-data-count
        font-size: 14px
    
    .detect-btn-container
      display: flex
      width 100%
      margin-top: 3%
      margin-bottom: 3%
      justify-content: center

      .detect-btn
        width 15%
      
