body
  position relative
  width 380px
  height 510px

.layout
  min-height 100vh
  height: 100%
  display flex
  align-items center

.card
  padding 20px
  text-align center
  border-radius 10px
  height 100%

.switch-section
  margin-bottom 20px

.switch-item
  display flex
  justify-content space-between
  align-items center
  margin-bottom 10px

.misinformation-text
  display block
  margin-bottom 20px

.dashboard-button
  margin-bottom 10px

.link-section
  display flex
  justify-content space-between

.link
  font-size 14px
