.P-register
  position: relative
  width: 100%
  height 100vh

  .back-wrapper
    position: absolute 
    top: 20px
    left: 20px
    z-index: 9999

    .back
      cursor: pointer

  .register-page-wrapper
    position relative
    display flex
    width 100%
    height 100%
    flex-direction column
    align-items center
    justify-content: center

    .title-wrapper
      display: flex
      align-content: center

      .title
        font-size: 56px
        letter-spacing: 2px

    .content-wrapper
      text-align: center

      .content-info-wrapper
        .signup-prompt
          font-size: 16px

      .signup-content-wrapper
        margin-top: 5%
        margin-bottom: 3%

        .signup-content-form
          text-align: left
          margin-bottom: 2%

          .username-wrapper
            display: flex
            justify-content: space-between

            .username-form-item
              width: 45%

          .signup-input-item
            margin-bottom: 5%

        .signup-btn-item
          margin-top: 8%
          .signup-btn
            width 100%
            color: white
            background-color: black

      .term-info-wrapper
        margin-top: 8%
        margin-left: 5%
        margin-right: 5%

        .term-info
          color: #c0c0c0

          